*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

* {
  font-family: 'Metropolis';
}

h1,
h2,
h3 {
  font-family: 'Helvetica';
  color: rgba(33, 35, 83, 1);
}

.nuxt-link-exact-active {
  text-decoration: none;
}

body {
  background-color: rgba(255, 255, 255, 1);
  font-size: 16px;
  color: #4b5d68;
  line-height: 29px;
}
.request-btn {
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  border: none;
  font-weight: 800;
  color: rgba(33, 35, 83, 1);
}
.btn {
  border-radius: 50px;
  font-weight: 800;
  padding: 15px 30px;
}
.btn-purple {
  background-color: #9c69e2;
  color: #fff;
}
.more {
  background-color: #f063b8;
  color: #fff;
}
.icon-storege {
  position: absolute;
  background: url('~assets/header.png');
  width: 885px;
  height: 468px;
  bottom: -150px;
  right: 0px;
}
.el-carousel__item {
  background-color: #fff;
  border-radius: 20px;
  padding: 60px 70px 50px 70px;
  height: 100%;
}
.footer__link {
  a {
    color: #212353;
  }
  &:hover {
    color: #212353c5;
  }
}
